@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #rgba(34, 34, 34, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #rgba(1000, 34, 34, 1);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

p,
h1,
h2,
span {
  color: rgba(34, 34, 34, 0.6);
}
